#### ESL Podcast 749 - Getting Standard Medical Test Results

**annual** - happening once each year; occurring at the same time each year;
yearly

> Welcome to our 10th
annual users conference!

**physical** - a medical exam, usually conducted once a year, to assess an
individual's health and monitor changes over time

> The school requires students to have a physical before they can participate on
any sports teams.

**lab results** - a written report of what was found during a laboratory analysis,
especially regarding what was found in a blood or urine (liquid waste) sample
when it was analyzed in a medical laboratory

> Nancy's lab results indicated that she has high levels of lead in her blood.

**cholesterol** - a fatty substance that is necessary for healthy cells and hormone
production, but that is dangerous at very high levels and can lead to heart attacks

> Mary is trying to lower her cholesterol by eating less butter, cheese, and red
meat.

**range** - a span of numbers or levels between some minimum and maximum
amount

> Your test score fell in the average range, between 70 and 80 points.

**glucose** - a type of sugar found in the blood and used by the body as a source
of energy

> If you don't eat, your body won't have enough glucose and you won't have
enough energy to do all the things you want to do.

**hormone** - one of many substances in the body that affects the functions of
other cells and body parts

> When Betty turned 60, her doctor measured her hormone levels and prescribed
estrogen pills.

**blood cell** - the smallest unit of material found in blood (the red liquid inside
one's body)

> People who suffer from Sickle-cell disease have blood cells with unusual
shapes.

**count** - tally; the number of items that have been or can be counted

> This is a 30-count box, so you should have enough pills for the entire month if
you take only one each day.

**EKG stress test** - a test in which a person is told to exercise while his or her
electrocardiography (EKG) is used to see how the heart it working and whether it
is healthy

> The doctor asked Jun to run on the treadmill as quickly as possible for a few
minutes during the EKG stress test.

**bone density** - a measure of the amount of matter (substance) in a certain
volume of bone, the pieces of hard, white material under one's skin

> Women with low bone density are more likely to suffer from fractures and
broken bones.

**scan** - a test that reads or produces an image of something

> Psychologists conducted brain scans of patients who were watching violent
movies to see how their thought patterns were affected.

**Pap smear** - a Papanicolaou test; a medical exam where a doctor takes a
sample from a woman's internal reproductive organs to test for cancer

> My doctor recommends that most women have a Pap smear once each year.

**mammogram** - an x-ray of a woman's breasts, used to test for cancer

> Most women don't get mammograms until they're 40 years old, but Karina
started earlier because several of the women in her family have had breast
cancer in their 30s.

**PSA** - prostate specific antigen; a test used to check the prostate (the part of a
man's body that makes liquid for carrying sperm) for cancer

> Harold's PSA test showed high levels, so the doctor is recommending
additional testing.

**DRE** - digital rectal exam; an exam in which the doctor puts his or her fingers
into a man's rectum (where solid waste leaves the body) to check for prostate
cancer, or into a woman's rectum to check for problems with reproductive organs

> Would you rather have a male or female doctor for your DRE?

